
@model RegisterVM
@{
    Layout = null;
}



<form method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <input asp-for="Username" placeholder="Username" />
    <input asp-for="Email"  placeholder="email"/>
    <input asp-for="Password"  placeholder="password"/>

    <button type="submit">login</button>

</form>